/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/
:root {
    --soft-white: #f8fdfc;
    --red-crayola: #ED254E;
    --naples-yellow: #F9DC5C;
    --medium-aquamarine: #42E2B8;
    --oxford-blue: #011936;
    --black-coral: #465362;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    color: var(--soft-white);
    background: linear-gradient(to bottom, var(--oxford-blue), var(--medium-aquamarine));
}
.header-container {
    margin-top: 15px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.header-container img {
    max-width: 150px;
}
.container__menu {
    height: 40px;
    margin-right: 15px;
}
.container__menu--profile {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: normal;
    cursor: pointer;
}
.container__menu--profile img {
    width: 40px;
    margin-right: 15px;
}
.container__menu--nav ul{
    display: none;
    list-style: none;
    text-align: right;
}
.container__menu--nav a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.4rem;
    color: var(--soft-white);
}
.container__menu--nav a:hover {
    text-decoration: underline;
    color: #ED254E;
}
.container__menu:hover ul, ul:hover{
    display: block;
}
.search {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search--p {
    padding: 15px;
    font-size: 3.3rem;
    font-weight: normal;
    line-height: 3.5rem;
    font-weight: normal;
    text-align: center;
}
.search--input {
    width: 50%;
    min-width: 300px;
    height: 35px;
    margin-top: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
    box-shadow: 0px 11px 30px -9px var(--soft-white);
}
.search--input input {
    width: 80%;
    min-width: 280px;
    height: 35px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    font-weight: lighter;
    color: var(--soft-white);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}
.search--input input::-webkit-input-placeholder { 
    color: rgba( 248, 253, 252, 0.7);
}
.caursel {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    margin-top: 50px;
}
.caursel__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.2rem;
}
.caursel__slider {
    height: 500px;
    margin-top: 25px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 28px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.caursel__slider .movie {
    position: relative;
    scroll-snap-align: center;
}
.movie .movie__info {
    display: none;
    position: absolute;
    left: 5px;
    bottom: 15px;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
}
.movie:hover .movie__info, .movie__image:hover{
    opacity: 1;
    display: block;
}
.movie__image {
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 11px 8px 10px -6px var(--oxford-blue);
    opacity: 0.6;
}
.caursel__slider .movie , .movie .movie__image {
    width: 40%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    border-radius: 5px;
}
.image0 {
    background-image: url('https://cutt.ly/0jYOBcn');
}
.image1 {
    background-image: url('https://cutt.ly/KjYG8lX');
}
.image2 {
    background-image: url('https://cutt.ly/pjYG4jn');
}
.image3 {
    background-image: url('https://cutt.ly/4jYG7eh');
}
.image4 {
    background-image: url('https://cutt.ly/bjYG7Fx');
}
.image5 {
    background-image: url('https://cutt.ly/hjYG5Y2');
}
