* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    color: #f8fdfc;
    background: linear-gradient(to bottom, #42E2B8, #F9DC5C);
}
.container {
    display: flex;
    justify-content: space-between;
}
.container img {
    max-width: 400px;
}
.container__menu {
    height: 40px;
    margin-top: 15px;
    margin-right: 30px;
}
.container__menu--profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container__menu--profile img {
    width: 40px;
    margin-right: 15px;
}
.container__menu--nav ul{
    display: none;
    list-style: none;
    text-align: right;
}
.container__menu--nav a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.4rem;
    color: #f8fdfc;
}
.container__menu--nav a:hover {
    text-decoration: underline;
    color: #ED254E;
}
.container__menu:hover ul, ul:hover{
    display: block;
}