/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/
:root {
    --soft-white: #f8fdfc;
    --red-crayola: #ED254E;
    --naples-yellow: #F9DC5C;
    --medium-aquamarine: #42E2B8;
    --oxford-blue: #011936;
    --black-coral: #465362;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    color: var(--soft-white);
    background: linear-gradient(to bottom, var(--medium-aquamarine), var(--oxford-blue));
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.header-container img {
    max-width: 200px;
}
.container__menu {
    height: 40px;
    margin-top: 15px;
    margin-right: 15px;
}
.container__menu--profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container__menu--profile img {
    width: 40px;
    margin-right: 15px;
}
.container__menu--nav ul{
    display: none;
    list-style: none;
    text-align: right;
}
.container__menu--nav a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.4rem;
    color: var(--soft-white);
}
.container__menu--nav a:hover {
    text-decoration: underline;
    color: #ED254E;
}
.container__menu:hover ul, ul:hover{
    display: block;
}
.search {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search--p {
    font-size: 3.3rem;
    font-weight: normal;
    line-height: 3.5rem;
    font-weight: normal;
    text-align: center;
}
.search--input {
    width: 50%;
    min-width: 300px;
    height: 35px;
    margin-top: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
    box-shadow: 0px 20px 30px -9px var(--oxford-blue);
}
.search--input input {
    width: 80%;
    min-width: 280px;
    height: 35px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    font-weight: lighter;
    color: var(--soft-white);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}
.search--input input::-webkit-input-placeholder { 
    color: rgba( 248, 253, 252, 0.7);
} 